
/*Global | Start*/

body{
	margin: 0;
	padding: 0;
	background-color: #202020;
}

.bold{
	font-weight: bold;
}

h1, h2, h3, h4{
	font-family: "Oswald",sans-serif;
	/*font-weight: 900;*/
	color: #fafafa;
	text-transform: uppercase;
}

h5, p{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #fafafa;
}

.responsive-img{
	margin-bottom: -5px;
}

@keyframes scale{
	from{
		border: 4px #1;
	}
	to{
		transform: scaleY(1);
	}
}

.custom-head-left{
	border-left: 4px solid;
	color: #fafafa;
	border-color: #ff1744;
	padding-left: 16px;
	/*animation-name: scale;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-delay: .02s;
	animation-timing-function: ease-in;*/
}

.custom-head-right{
	border-right: 4px solid;
	color: #fafafa;
	border-color: #ff1744;
	padding-right: 16px;
	/*animation-name: scale;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-delay: .02s;
	animation-timing-function: ease-in;*/
}

button{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	background-color: #fafafa;
	border: 2px #fafafa solid;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	color: #212121;
	margin-bottom: 10px;
	font-weight: 700;
}

button:hover{
	background-color: #ff1744;
	color: #fafafa;
	border-color: #ff1744;
	transition-duration: .2s;
}

.custom-seperator{
	height: 4px;
	width: 50px;
	background-color: rgb(255,23,68);
	border: none;
	border-radius: 2px;
}


.no-padding{
	padding: 0 !important;
}

/*Global | End*/


/*Nav | start*/

nav {
	background: transparent;
	box-shadow: none;
	line-height: 80px;
	height: 80px;
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

nav.sticky{
	line-height: 60px;
	height: 60px;
	background: #121212;
	box-shadow:  0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05)
}

nav .brand-logo{
	height: 100%;
	margin-left: 40px;
}

nav a img.nav-logo{
	
	max-height: 100%;
	width: auto;
}

nav a.brand-logo{
	font-family: 'Raleway', sans-serif;
}

nav a p.nav-title{
	font-family: "Raleway",sans-serif;
	font-weight: 500;
	position: relative;
	top: -25%;
	color: #ff1744;
	padding: 0;
	margin: 0;
}

nav ul li a span{
	font-family: 'Raleway', sans-serif;
	padding-left: 15px;
	padding-right: 15px;
}

nav ul li a {
	color: #fafafa;
}

nav ul li a:hover{
	background: none;
	color: #ff1744;
}

nav ul li a span:hover{
	color: #ff1744;
}

nav ul li a.active{
	background: none;
	color: #ff1744;
}

/*Nav | End*/


/*Home Start*/

#home{
	width: 100%;
	height: 100vh;
	/*background-image: url("../assets/landing_img.jpg");*/
	background-size: cover;	
}



.home-div{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


.player_wrapper {
	position: absolute;
	top: 0;
	height:100%;
	width:100%;
	overflow:hidden;
}

.player_wrapper iframe {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    bottom:0;
}

.player_wrapper .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgba(20,20,20, 0.3);
	display: flex;
	align-items: center;
	/*rgb(1,87,155)*/
}

/* Short Desc Card */

#short-desc{
	height: 220px;
	margin-top: -110px;
}

.material-icons{
	color: #ff1744;
}

/* About */

.head{
	
}

.sub{
	color: #9E9E9E;
}

.about-sub{
	color: #fafafa;
	padding: 20px;
}

/* Stages */

#stages{
	/*background-image: url("../assets/stages_bg.png");*/
	background-color: #121212;
}

.stages-divider{
	width: 100%;
	height: 20vh;
	background-color: rgba(24, 255, 255, 0.5); 
	background-image: url("../assets/stages_divider.jpg");
	background-size: cover;
	background-position: center;

}

.div-mask{
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(52, 148, 230, 0.5), rgba(24, 255, 255, 0.5));
}

.stage-row{
	background-color: #212121;
	padding: 0;
	margin-bottom: 0;
}


.stages-sub{
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 10px;
}

/* Speakers */

#speakers{
	height: 70vh;
}

/* Venue */

#venue{
	height: 70vh;
	background-color: #121212; 
	background-image: url('../assets/venue_1.jpg'); 
	background-position: right;
	background-repeat: no-repeat;
	max-height: 800px;
}


/* Tickets */

#buy-tickets{
	min-height: 70vh;
	background-color: #212121;
	padding: 10vh 0;
}

.ticket-container .col{
	padding: 0 0.9rem;
}

.ticket-container .card{
	background-color: #121212;
	color: #fafafa;
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	cursor: pointer;
}

.ticket-container .card:hover{
	transform: scale(1.03);
	box-shadow: 0 0px 20px #ff1744;
}

.ticket-container .collection{
	border-left: none;
	border-right: none;
	border: none;
}

.ticket-container .collection .collection-item{
	background-color: #121212;
	border: none;
}

.ticket-heading{
	font-size: 2.2em;
}

/* Footer */

.page-footer{
	background-color: #121212;
}

.page-footer .footer-copyright{
	background-color: #000;
}

.social-icon{
	background-color: #424242;
	border-radius: 50%;
	padding: 10px;
}

.social-icon:hover{
	background-color: #ff1744;
	transition-duration: 0.3s;
}
