
/*Global | Start*/

html{
	color: #fafafa;
}

body{
	margin: 0;
	padding: 0;
	background-color: #202020;
}

.bold{
	font-weight: bold;
}

h1, h2, h3, h4{
	font-family: "Oswald",sans-serif;
	/*font-weight: 900;*/
	color: #fafafa;
	text-transform: uppercase;
}

h5, p{
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	color: #fafafa;
}

.responsive-img{
	margin-bottom: -5px;
}


.custom-head-left{
	border-left: 4px solid;
	color: #fafafa;
	border-color: #ff1744;
	padding-left: 16px;
	/*animation-name: scale;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-delay: .02s;
	animation-timing-function: ease-in;*/
}

.custom-head-right{
	border-right: 4px solid;
	color: #fafafa;
	border-color: #ff1744;
	padding-right: 16px;
	/*animation-name: scale;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-delay: .02s;
	animation-timing-function: ease-in;*/
}

button{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	background-color: #fafafa;
	border: 2px #fafafa solid;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	color: #212121;
	margin-bottom: 10px;
	font-weight: 700;
}

button:hover{
	background-color: #ff1744;
	color: #fafafa;
	border-color: #ff1744;
	transition-duration: .2s;
}

.custom-seperator{
	height: 4px;
	width: 50px;
	background-color: rgb(255,23,68);
	border: none;
	border-radius: 2px;	
}

.anim{
	height: 4px;
	width: 100px;
	background-color: rgb(255,23,68);
	border: none;
	border-radius: 2px;
	animation: scale 1s infinite;
}


.no-padding{
	padding: 0 !important;
}

.custom-para-div{
	width: 70%;
	padding: 5px;
	background-color: #424242	;
	border-radius: 3px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	display: none;
	transform: translateY(-5px);
	transition-duration: .2s;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

/*Global | End*/


/*Nav | start*/

nav {
	background: transparent;
	box-shadow: none;
	line-height: 80px;
	height: 80px;
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	overflow: hidden;
}

nav.sticky{
	line-height: 60px;
	height: 60px;
	background: #121212;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

nav .brand-logo{
	height: 100%;
	margin-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav a img.nav-logo{
	max-height: 100%;
	width: auto;
}

nav a.brand-logo{
	font-family: 'Raleway', sans-serif;
}

nav a p.nav-title{
	font-family: "Oswald",sans-serif;
	/*font-weight: 500;*/
	position: relative;
	top: -25%;
	left: 10px;
	color: #fafafa;
	letter-spacing: 0.1em;
	padding: 0;
	margin: 0;
}

nav a p.nav-title span{
	color: #ff1744;
}

nav ul li a span{
	font-family: 'Lato', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

nav ul li a {
	color: #fafafa;
}

nav ul li a:hover{
	color: #ff1744;
}

nav ul li a span:hover{
	color: #ff1744;
}

nav ul li a.active{
	background: none;
	color: #ff1744;
}

#nav-mobile ul li a.active{
	background: none;
	color: #ff1744;	
}

/*Nav | End*/


/*Home Start*/

#home{
	width: 100%;
	height: 100vh;
	/*background-image: url("../assets/landing_img.jpg");*/
	background-size: cover;	
}



.home-div{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


.player_wrapper {
	position: absolute;
	top: 0;
	height:100%;
	width:100%;
	overflow:hidden;
}

.player_wrapper iframe {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    bottom:0;
}

.player_wrapper .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgba(20,20,20, 0.3);
	display: flex;
	align-items: center;
	/*rgb(1,87,155)*/
}

.surge-logo{
	width: 100px;
	height: 100px;
}

.countdown-title{
	color: #fafafa;
	font-family: "Raleway", sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 600;
	width: 100%;
	letter-spacing: 0.3em;
}

.countdown-amount{
	color: #fafafa;
	font-family: "Oswald", sans-serif;
	font-size: 7em;
	text-transform: uppercase;
	width: 100%;
}

/* Short Desc Card */

#short-desc{
	height: 220px;
	margin-top: -110px;
}

.material-icons{
	color: #ff1744;
}

/* About */

.head{
	
}

#about{
	background-color: #121212;
}

#about .row {
	margin-bottom: 0;
}

.sub{
	color: #9E9E9E;
}

.about-sub{
	color: #fafafa;
	padding: 20px;
}

/* Stages */

#stages{
	/*background-image: url("../assets/stages_bg.png");*/
	background-color: #121212;
}

.stages-divider{
	width: 100%;
	height: 20vh;
	background-color: rgba(24, 255, 255, 0.5); 
	background-image: url("../assets/stages_divider.jpg");
	background-size: cover;
	background-position: center;

}

.div-mask{
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(52, 148, 230, 0.5), rgba(24, 255, 255, 0.5));
}

.stages-img::after{
	background-color: rgba(255, 28, 63, 0.2);
}

.stage-row{
	background-color: #212121;
	padding: 0;
	margin-bottom: 0;
}


.stages-sub{
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 10px;
}

/* Speakers */


#speakers{
	min-height: 100vh;
	z-index: 20;
	padding-top: 30px;
}

.owl-stage{
	display: flex;
	height: 600px;
	padding: 20px 10px;
}

.container_speaker{
	max-width: 80%;
}

.speaker_list{
	margin-top: 50px;
}

.speaker_card.card{
	margin: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.speaker_card{
	height: 100%;
	background-color: #121212;
	padding-top: 20px;
	color: #fafafa;
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	cursor: pointer;
}

.speaker_card:hover{
	box-shadow: 0 0px 20px #ff1744;
	transform: scale(1.02);
}

.speaker_card:hover .card-image{
	transform: scale(1.05);
}

.card .card-image{
	padding-top: 20px;
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.card .speaker_img{
	height: 275px;
	width: 275px;	
	margin: auto;
	border-radius: 50%;
	box-shadow: 0 10px 30px 0px rgba(255,28,63, 0.5);
	overflow: hidden;
	position: relative;
}

.card .card-image img{
	width: 100%;
	height: auto;
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}


.card img.social_icon{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 8px;
	margin: 5px;
}

.speaker_card .card-reveal{
	background-color: #212121;
}

.speaker_card .card-action{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	color: #ff1744;
	font-family: "Oswald", sans-serif;
	font-size: 1.5em;
}

.speaker_card .card-action:hover{
	/*background-color: rgba(255, 23, 68, 0.5);*/
	background-color: #212121;
	color: #fafafa;
}

.short_speaker_deescription{
	font-size: 1.1em;
}

.owl-theme .owl-dots .owl-dot span{
	background-color: rgba(255, 23, 68, 0.5);
}

.owl-theme .owl-dots .owl-dot.active span{
	background-color: rgba(255, 23, 68, 1);	
}

/* Venue */

#venue{
	height: 70vh;
	background-color: #121212; 
	background-image: url('../assets/venue_1.jpg'); 
	background-position: right;
	background-repeat: no-repeat;
	max-height: 800px;
}


/* Schedule */

#schedule{
	background-color: #121212;
	min-height: 70vh;
}

#day1{
	border: none;
}

.tabs{
	background-color: #121212;
}

.tabs .indicator{
	background-color: #ff1744;
}

.collapsible{
	border: none;
	margin-top: 20px;
}

.collapsible-header{
	border: none;
	background-color: #121212;
}

.collapsible-header-time{
	background-color: #ff1744;
	border-bottom: 2px #ff1744 solid;
}

.collapsible-header-desc{
	border-bottom: 2px #ff1744 solid;
	margin-bottom: -2px;
}

.collapsible-body{
	border: none;
	background-color: #121212;
	border-bottom: 2px #ff1744 solid;
	padding: 0px 13px 20px;	
	height: 100px;
}

.collapsible-body-venue{
	background-color: #212121;
	height: 100%;
}

/* Companies */

marquee ul{
	display: flex;
}

.companies-logo{
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	filter: grayscale();
	transition-duration: .2s;
}

.companies-logo:hover{
	filter: none;
}

.companies-logo-img{
	height: 70px;
}


li:hover .custom-para-div{
	display: block;
}

/* Colleges */

#colleges{
	background-color: #121212;
}

/* Tickets */

#buy-tickets{
	min-height: 70vh;
	background-color: #212121;
	padding: 10px 0px;
}

.ticket-container .col{
	padding: 0 0.9rem;
}

.ticket-container .card{
	background-color: #121212;
	color: #fafafa;
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	cursor: pointer;
}

.ticket-container .card:hover{
	transform: scale(1.03);
	box-shadow: 0 0px 20px #ff1744;
}

.ticket-container .collection{
	border-left: none;
	border-right: none;
	border: none;
}

.ticket-container .collection .collection-item{
	background-color: #121212;
	border: none;
}

.ticket-heading{
	font-size: 2.2em;
}

/* Footer */

.page-footer{
	background-color: #121212;
}

.page-footer .footer-copyright{
	background-color: #000;
}

.social-icon{
	background-color: #424242;
	border-radius: 50%;
	padding: 10px;
}

.social-icon:hover{
	background-color: #ff1744;
	transition-duration: 0.3s;
}


/* Media Queries */

@media screen and (max-width: 1300px){
	nav .nav-title{
		display: none;
	}
}

@media screen and (max-width: 1000px){
	nav .brand-logo{
		margin-left: 0;
	}
}

@media screen and (max-width: 600px){

	.landing-title{
		font-size: 3em;
	}

	.countdown-amount{
		font-size: 5em;
	}

	.owl-stage{
		padding: 20px 0;
	}

	.speaker_card:hover{
		box-shadow: none;
		transform: scale(1);
	}
}

/*Animations*/


@keyframes scale{
	0%{
		transform: scaleX(1);
	}
	25%{
		transform: scaleX(0.3);
	}
	50%{
		transform: rotate(180deg) scaleX(0.3);

	}
	75%{
		transform: rotate(180deg) scaleX(0.3);		
	}

	100%{
		transform: rotate(180deg) scaleX(1);
	}
}
